{% extends "nav_bar.html" %}
 <!DOCTYPE html>
<html lang="de-CH">
{% block content %}
    <br></br>  <br></br>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles/aboutus.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<div class="section page header_section">
<div class="gradient gradient_red_blue gradient_header_section"></div>
	<div class="section_container header_section_container flex_container flex_header_container">
		<div class="text header_text">
			<h1>MuiMui</h1>
		</div>
		<div class="text body_text flex_item flex_header_item">
			<h2 class="header_quote">Your Fashion Match Choice</h2>
		</div>
	</div>
</div>

<div class="section page second_section">
<a name="team"></a>
	<div class="section_container second_section_container flex_container flex_center">
		<div class="text header_text text_grad_purple_yellow">
			<h1>Our Team</h1>
		</div>
		<a href="https://www.linkedin.com/in/joy-wj/">
			<div class="feature flex_feature_item feature1">
				<div class="feature_image"></div>
				<h2>Joy</h2>
                <p><br>Joy is a data visualization engineer. She is a creative person and she is very talented at presenting data stories.</br></p>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/hongdou-li/">
			<div class="feature flex_feature_item feature2">
				<div class="feature_image"></div>
				<h2>Hongdou</h2>
                <p><br>Hongdou likes working with data and apply statistical theory to solve real business problems, with the help of machine learning.</br></p>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/jyoti-prakash-maheswari/">
			<div class="feature flex_feature_item feature3">
				<div class="feature_image"></div>
				<h2>Jyoti</h2>
                <p><br>Jyoti is a seasoned problem solver who likes to apply Data Science techniques to challenging business problems and come up with out of the box solutions</br></p>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/-aditi-sharma/">
			<div class="feature flex_feature_item feature4">
				<div class="feature_image"></div>
				<h2>Aditi</h2>
				<p><br>Data Scientist with 3+ years of experience leveraging data to solve business problems in a results-driven environment.</br></p>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/marwa-oussaifi/">
			<div class="feature flex_feature_item feature5">
				<div class="feature_image"></div>
				<h2>Gokul</h2>
				<p><br>Gokul is an engineer turned data scientist, who has rich experience of building data pipelines from the ground up and deploying them in production.</br></p>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/marwa-oussaifi/">
			<div class="feature flex_feature_item feature6">
				<div class="feature_image"></div>
				<h2>Divya</h2>
				<p><br>Divya brings with her 3 year of data science experience across diverse verticals of E-com, enabling teams build customer backward products powered by data. </br></p>
			</div>
		</a>
		<a href="https://www.linkedin.com/in/marwa-oussaifi/">
			<div class="feature flex_feature_item feature7">
				<div class="feature_image"></div>
				<h2>Marwa</h2>
				<p><br>Marwa is a modeling engineer turned data scientist. Her experience lies in designing and implementing cut-edge data-driven models</br></p>
			</div>
		</a>
	</div>
</div>




</body>
{% endblock %}
</html> 
