{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140032341-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-140032341-1');
</script>
{% endblock %}

{% block content %}

    <div class="error-box" align="center">
        <img class="ui medium image error-image" src="{{ url_for('static', filename='img/error.png') }}">
        <h1 class="ui header">{{ message }}<h1>
    </div>

{% endblock %}